* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.game-container {
  display: grid;
  grid-template-areas:
    "header header header"
    "sidebar main-content main-content"
    "controls controls message";

  grid-template-rows: 0.25fr 2fr 0.5fr;

  grid-template-columns: 0.5fr 2fr 1fr;

  height: 100vh;
}

.header {
  grid-area: header;
  border: 1px solid purple;
}

.sidebar {
  grid-area: sidebar;
  border: 1px solid blue;
}

.main-content {
  grid-area: main-content;
  border: 1px solid red;
}

.controls {
  display: grid;
  grid-template-areas: "auto-attack skill-1";
  grid-template-columns: 1fr 1fr;
  grid-area: controls;
  border: 1px limegreen solid;
}

.auto-attack {
  grid-area: auto-attack;
  border: 2px red solid;
}

.auto-attack:hover {
  background-color: rgba(255, 0, 0, 0.25);
  transition: 0.5s;
}

.skill-1 {
  grid-area: skill-1;
  border: 2px yellow dotted;
}

.skill-1:hover {
  background-color: rgba(0, 0, 255, 0.25);
  transition: 0.5s;
}

.message {
  grid-area: message;
  min-width: 0.25fr;
  border: 1px solid orange;
}

.player-img {
  position: relative;
  top: 52%;
}

.player-img:hover {
  opacity: 25%;
  transition: 0.5;
}

.enemy-img {
  position: relative;
  left: 50%;
}

.enemy-img:hover {
  opacity: 25%;
  transition: 0.5s;
}
